@model Control_asistencia_mvc.tipo_empleado

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Est{a seguro de Borrar Este registro?</h3>
<div>
    <h4>Tabla:tipo_empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
